*{
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*border: 0px;*/
}

table * {
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*border: 0px;*/
}

#content{
    min-height: 400px;
    width: 800px;
    margin: auto;
}

#content #user-info{
    width: 800px;
}

#footer {
    width: 800px;
    margin: auto;
}

td.td-left{
    text-align: right;
    padding-right: 10px;
}

td.td-right{
    text-align: left;
    padding-left: 10px;
}
